body {
  overflow-y: hidden;
  font-size: 16px;
  font-family: 'Exo', sans-serif;
}

.section_2_container {
  width: 100%;
  height: 95vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ffffff;
}

.section_2_container #sec_2_left_container {
  width: 30vw;
  margin-left: 1vw;
  z-index: 1;
  padding-top: 2vh;
  padding-bottom: 10vh;
  padding-left: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95vh;
}

.section_2_container #sec_2_left_container .card {
  width: 29vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -10vh;
  -webkit-animation: slidefromright 0.6 ease-in-out;
          animation: slidefromright 0.6 ease-in-out;
}

@-webkit-keyframes slidefromright {
  from {
    -webkit-transform: translateX(-89vh);
    transform: translateX(-89vh);
  }
  to {
    -webkit-transform: translateX(0vh);
    transform: translateX(0vh);
  }
}

@keyframes slidefromright {
  from {
    -webkit-transform: translateX(-89vh);
    transform: translateX(-89vh);
  }
  to {
    -webkit-transform: translateX(0vh);
    transform: translateX(0vh);
  }
}

.section_2_container #sec_2_left_container .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3vh;
  padding-bottom: 4vh;
  padding-left: 1vw;
  background-color: #fff;
  border-style: solid;
  border-color: #ffc312;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 15px;
}

.section_2_container #sec_2_left_container .card .card-body .card-top-text p {
  font-weight: 300;
  color: #333;
  font-size: 1.3em;
}

.section_2_container #sec_2_left_container .card .card-body .s2_left_form {
  width: 90%;
}

.section_2_container #sec_2_left_container .card .card-body .sec2_form {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section_2_container #sec_2_left_container .card .card-body .sec2_form #formbuttons {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section_2_container #sec_2_left_container .card .card-body .sec2_form .returnmessage_additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section_2_container #sec_2_left_container .card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 6vh;
  font-family: 'Exo', sans-serif;
  width: 25vw;
  height: 7vh;
  border: rgba(65, 65, 65, 0.3);
}

.section_2_container #sec_2_left_container .card .card-footer .card-footer-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
}

.section_2_container #sec_2_left_container #s2_logo img {
  min-width: 1vh;
  min-height: 1vh;
  height: 150px;
  width: 360px;
  -webkit-animation: slidefromtop 0.6s ease-in-out;
          animation: slidefromtop 0.6s ease-in-out;
  margin-bottom: 15px;
}

@-webkit-keyframes slidefromtop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidefromtop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section_2_container #sec_2_left_container .login_btn {
  color: black;
  background-color: #FFC312;
  width: 100px;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  font-family: 'Quicksand', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  -webkit-transition-property: color, background-color, border-color, -webkit-box-shadow;
  transition-property: color, background-color, border-color, -webkit-box-shadow;
  transition-property: color, background-color, border-color, box-shadow;
  transition-property: color, background-color, border-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
          transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
          transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  -webkit-transition-delay: 0s, 0s, 0s, 0s;
          transition-delay: 0s, 0s, 0s, 0s;
}

.section_2_container #sec_2_left_container .login_btn:hover {
  color: black;
  background-color: white;
}

.section_2_container #sec_2_right_container {
  width: 66vw;
  margin-left: 1vw;
  z-index: 3;
  background: linear-gradient(150deg, rgba(255, 204, 94, 0.85) 0%, rgba(255, 195, 18, 0.85) 100%);
  background-size: 99.85% 100%;
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_2_container #sec_2_right_container .sec_2_right_slider #sec2_slider_container {
  height: 70vh;
  width: 55vw;
  background-color: #ffffff;
  margin-left: 5vh;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_2_container #sec_2_right_container .sec_2_right_slider #sec2_slider_container .sec2_slider_inner_slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  padding: 2vh;
}

.section_2_container #sec_2_right_container .sec_2_right_slider #sec2_slider_container .sec2_slider_inner_slide .s2_slider_image img {
  min-width: 15vh;
  min-height: 15vh;
  height: 29vh;
}

.section_2_container #sec_2_right_container .sec_2_right_slider #sec2_slider_container .sec2_slider_inner_slide .s2_slider_heading {
  padding: 0vh;
  height: 5vh;
  margin-top: 2vh;
  border-radius: 3px;
  padding: 0 1.2em;
  width: 16vw;
  text-align: center;
}

.section_2_container #sec_2_right_container .sec_2_right_slider #sec2_slider_container .sec2_slider_inner_slide .s2_slider_heading p {
  font-size: 1.2rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: #333;
  cursor: pointer;
}

.section_2_container #sec_2_right_container .sec_2_right_slider #sec2_slider_container .sec2_slider_inner_slide .s2_slider_description p {
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  color: #333;
  text-align: center;
}

.section_3_container {
  width: 100%;
  height: 5vh;
  z-index: 100;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1vh;
  -webkit-box-shadow: 10px 10px 20px 10px rgba(65, 65, 65, 0.3);
          box-shadow: 10px 10px 20px 10px rgba(65, 65, 65, 0.3);
}

.section_3_container p {
  font-family: "Exo", sans-serif;
  font-size: 1rem;
  color: #333333;
}

#particles-js {
  width: 66vw;
  height: 95vh;
  position: absolute;
}
/*# sourceMappingURL=main.css.map */